In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("Covid.csv")

In [3]:
df.head()

   Age     City cough cold fever  temperature vaccinated Test Result
0   22  Jodhpur   Yes  Yes   Yes          108         No    Positive
1   24   Jaipur   Yes   No   Yes          102         No    Negative
2   55  Jodhpur    No   No    No           97         No    Negative
3   54     Pali   Yes  Yes   Yes          107        Yes    Negative
4   81    Nagor    No  Yes    No           99        Yes    Positive

In [4]:
from sklearn.preprocessing import OneHotEncoder

In [5]:
df=pd.get_dummies(df)

In [6]:
df

,Age,temperature,City_Jaipur,City_Jodhpur,City_Kota,City_Nagor,City_Pali,cough_No,cough_Yes,cold_No,cold_Yes,fever_No,fever_Yes,vaccinated_No,vaccinated_Yes,Test Result_Negative,Test Result_Positive
0,22,108,0,1,0,0,0,0,1,0,1,0,1,1,0,0,1
1,24,102,1,0,0,0,0,0,1,1,0,0,1,1,0,1,0
2,55,97,0,1,0,0,0,1,0,1,0,1,0,1,0,1,0
3,54,107,0,0,0,0,1,0,1,0,1,0,1,0,1,1,0
4,81,99,0,0,0,1,0,1,0,0,1,1,0,0,1,0,1
5,21,97,0,0,1,0,0,1,0,1,0,1,0,0,1,1,0
6,35,104,1,0,0,0,0,0,1,0,1,0,1,0,1,0,1
7,45,106,0,0,0,0,1,0,1,0,1,0,1,1,0,0,1
8,62,101,0,0,0,0,1,0,1,1,0,0,1,1,0,1,0
9,15,110,0,1,0,0,0,0,1,0,1,0,1,1,0,0,1
10,32,97,0,0,1,0,0,1,0,1,0,1,0,0,1,1,0
11,82,98,0,0,0,1,0,1,0,1,0,1,0,1,0,1,0
12,49,98,0,1,0,0,0,0,1,1,0,0,1,1,0,0,1
13,33,97,1,0,0,0,0,1,0,1,0,1,0,0,1,0,1
14,16,96,0,0,1,0,0,1,0,0,1,1,0,0,1,1,0
15,19,99,0,0,0,1,0,1,0,0,1,1,0,1,0,1,0
16,28,101,0,0,1,0,0,1,0,1,0,1,0,0,1,1,0

In [7]:
df.drop("Test Result_Negative",axis=1,inplace=True)

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
x=df.drop("Test Result_Positive",axis=1)
y=df["Test Result_Positive"]

In [11]:
x_train, x_test, y_train, y_test= train_test_split(x, y, test_size=0.3, random_state=123)

In [12]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()

In [13]:
lr.fit(x_train,y_train)

C:\Users\hp\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression()

In [16]:
lr.score(x_train, y_train)

0.8181818181818182

In [15]:
pred=lr.predict(x_test)

In [18]:
from sklearn.metrics import classification_report
print("classification report ")
print(classification_report(pred,y_test))

classification report
              precision    recall  f1-score   support

           0       1.00      0.60      0.75         5
           1       0.33      1.00      0.50         1

    accuracy                           0.67         6
   macro avg       0.67      0.80      0.62         6
weighted avg       0.89      0.67      0.71         6