<H1>ML LAB QUESTION 2</H1>

<h3>Importing Necessary Libaries</h3>

In [6]:
print("MOHIT JANGID")
print("18EJICS092")
import numpy as np
import pandas as pd

MOHIT JANGID
18EJICS092

<h3> Load Dataset</h3>

In [7]:
df=pd.read_csv('Question2ML.csv')

In [8]:
df.head()

      F1    F2      F3      F4    F5      F6 Target
0  sunny  warm  normal  strong  warm    same    yes
1  sunny  warm    high  strong  warm    same    yes
2  rainy  cold    high  strong  warm  change     no
3  sunny  warm    high  strong  cool  change    yes

In [9]:
df.tail()

      F1    F2      F3      F4    F5      F6 Target
0  sunny  warm  normal  strong  warm    same    yes
1  sunny  warm    high  strong  warm    same    yes
2  rainy  cold    high  strong  warm  change     no
3  sunny  warm    high  strong  cool  change    yes

In [10]:
print("There are {} rows and {} columns".format(df.shape[0],df.shape[1]))

There are 4 rows and 7 columns

In [11]:
df.describe()

           F1    F2    F3      F4    F5      F6 Target
count       4     4     4       4     4       4      4
unique      2     2     2       1     2       2      2
top     sunny  warm  high  strong  warm  change    yes
freq        3     3     3       4     3       2      3

In [12]:
df.describe(include='object')

           F1    F2    F3      F4    F5      F6 Target
count       4     4     4       4     4       4      4
unique      2     2     2       1     2       2      2
top     sunny  warm  high  strong  warm  change    yes
freq        3     3     3       4     3       2      3

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   F1      4 non-null      object
 1   F2      4 non-null      object
 2   F3      4 non-null      object
 3   F4      4 non-null      object
 4   F5      4 non-null      object
 5   F6      4 non-null      object
 6   Target  4 non-null      object
dtypes: object(7)
memory usage: 352.0+ bytes

<h3> Split Target and Other input features </h3>

In [14]:
features=np.array(df)[:,:-1]
features

array([['sunny', 'warm', 'normal', 'strong', 'warm', 'same'],
       ['sunny', 'warm', 'high', 'strong', 'warm', 'same'],
       ['rainy', 'cold', 'high', 'strong', 'warm', 'change'],
       ['sunny', 'warm', 'high', 'strong', 'cool', 'change']],
      dtype=object)

In [23]:
target=np.array(df)[:,-1]
target

array(['yes', 'yes', 'no', 'yes'], dtype=object)

<h3> Train the dataset </h3>

In [26]:
data = pd.read_csv('Question2ML.csv')
concepts = np.array(data)[:,:-1]
target = np.array(data)[:,-1]
def train(con, tar):
    for i, val in enumerate(tar):
        if val == 'yes':
            specific_h = con[i].copy()
            break
            
    for i, val in enumerate(con):
        if tar[i] == 'yes':
            for x in range(len(specific_h)):
                if val[x] != specific_h[x]:
                    specific_h[x] = '?'
                else:
                    pass
    return specific_h

In [27]:
print(train(concepts, target))

['sunny' 'warm' '?' 'strong' '?' '?']