QUESTION 1

In [1]:
print("NAME : MOHIT JANGID")
print("ROLL NO : 18EJICS092")
print("SECTION : B")

NAME : MOHIT JANGID
ROLL NO : 18EJICS092
SECTION : B

In [ ]:
def get_percentage(s):
    per=(s)/1000
    per=per*100
    return(per)


def out(per,name,s):
    print("TOTAL MARKS = 1000")
    print("NAME "+ name)
    print("TOTAL OBTAINED MARKS  = "+str(s))
    print("PERCENTAGE  = "+str( per)+"%")
    if(per>75.0):
        print("IMPRESSIVE")
    elif(per<75.0 and per>50.0):
        print("KEEP TRYING")
    else:
        print("FAIL")

In [4]:
print("NAME : MOHIT JANGID")
print("ROLL NO : 18EJICS092")
print("SECTION : B")

n=int(input("ENTER NUMBER OF STUDENTS "))
for i in range(0,n):
    name=input("ENTER NAME ")
    mid_1=int(input("ENTER MARKS FOR MID TERM 1 "))
    mid_2=int(input("ENTER MARKS FOR MID TERM 2 "))
    sport=int(input("ENTER MARKS FOR SPORTS ACTIVITY "))
    extra_1=int(input("ENTER MARKS FOR EXTRA ACTIVITY 1 "))
    extra_2=int(input("ENTER MARKS FOR EXTRA ACTIVITY 2 "))
    extra_3=int(input("ENTER MARKS FOR EXTRA ACTIVITY 3 "))
    s=mid_1+mid_2+sport+extra_1+extra_2+extra_3
    mid_total=mid_1+mid_2
    extras=extra_1+extra_2+extra_3
    pert=get_percentage(s)
    out(pert,name,s)

NAME : MOHIT JANGID
ROLL NO : 18EJICS092
SECTION : B
ENTER NUMBER OF STUDENTS 2
ENTER NAME MOHIT JANGID
ENTER MARKS FOR MID TERM 1 245
ENTER MARKS FOR MID TERM 2 247
ENTER MARKS FOR SPORTS ACTIVITY 185
ENTER MARKS FOR EXTRA ACTIVITY 1 95
ENTER MARKS FOR EXTRA ACTIVITY 2 85
ENTER MARKS FOR EXTRA ACTIVITY 3 90
TOTAL MARKS = 1000
NAME MOHIT JANGID
TOTAL OBTAINED MARKS  = 947
PERCENTAGE  = 94.69999999999999%
IMPRESSIVE
ENTER NAME NARUTO
ENTER MARKS FOR MID TERM 1 248
ENTER MARKS FOR MID TERM 2 243
ENTER MARKS FOR SPORTS ACTIVITY 200
ENTER MARKS FOR EXTRA ACTIVITY 1 97
ENTER MARKS FOR EXTRA ACTIVITY 2 88
ENTER MARKS FOR EXTRA ACTIVITY 3 92
TOTAL MARKS = 1000
NAME NARUTO
TOTAL OBTAINED MARKS  = 968
PERCENTAGE  = 96.8%
IMPRESSIVE

gcd(QUESTION 2)

In [ ]:
def gcd(m,n):
    if(m==n):
        return(m)
    else:
        if(n>m):
            x=n-m
        else:
            x=m-n
        y=min(n,m)
        return(gcd(x,y))

In [9]:
print("NAME : MOHIT JANGID")
print("ROLL NO : 18EJICS092")
print("SECTION : B")

m=int(input("ENTER FIRST NUMBER : "))
n=int(input("ENTER SECOND NUMBER : "))
g=gcd(m,n)
print("GCD OF NUMBER "+str(m)+" AND "+str(n)+" IS :"+str(g))

NAME : MOHIT JANGID
ROLL NO : 18EJICS092
SECTION : B
ENTER FIRST NUMBER : 40
ENTER SECOND NUMBER : 55
GCD OF NUMBER 40 AND 55 IS :5

QUESTION 13- WEATHER

In [11]:
print("NAME : MOHIT JANGID")
print("ROLL NO : 18EJICS092")
print("SECTION : B")
week_days = ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]


temps  = map(int,[input("Enter temp for {}".format(week_days[i])) for i in range(7)])
zipped = dict(zip(week_days,temps))

print("Daily Temps:")
print(" Monday: {Mon} Tuesday: {Tue} Wednesday: {Wed} Thursday: {Thu} Friday: {Fri} Saturday: {Sat} Sunday: {Sun}".format(**zipped))
values = zipped. values()
total=sum(values)
print(total)
avg=total/7

print("Average Temp for the week:",avg)

NAME : MOHIT JANGID
ROLL NO : 18EJICS092
SECTION : B
Enter temp for Mon40
Enter temp for Tue25
Enter temp for Wed30
Enter temp for Thu50
Enter temp for Fri28
Enter temp for Sat30
Enter temp for Sun32
Daily Temps:
 Monday: 40 Tuesday: 25 Wednesday: 30 Thursday: 50 Friday: 28 Saturday: 30 Sunday: 32
235
Average Temp for the week: 33.57142857142857

QUESTION 14- PATTERN

In [15]:
print("NAME : RAJJAK KHAN")
print("ROLL NO : 18EJICS129")
print("SECTION : B")
Roll_No = "18EJICS129"
for i in range(0,len(Roll_No)):
    print(Roll_No[0:i+1])
for j in range(0,len(Roll_No)):
    print(Roll_No[0:-j-1])

NAME : RAJJAK KHAN
ROLL NO : 18EJICS129
SECTION : B
1
18
18E
18EJ
18EJI
18EJIC
18EJICS
18EJICS1
18EJICS12
18EJICS129
18EJICS12
18EJICS1
18EJICS
18EJIC
18EJI
18EJ
18E
18
1

In [11]:

print("NAME : NISHA SHARMA")
print("ROLL NO : 18EJICS105")
print("SECTION : B")

print("- - - - -- - - - - -- - - -- - - -- - -- - -- -- -- - - - -- ")
s='18EICS105'
pattern(s)
pattern2(s)

NAME : NISHA SHARMA
ROLL NO : 18EJICS105
SECTION : B
- - - - -- - - - - -- - - -- - - -- - -- - -- -- -- - - - --
1
18
18E
18EI
18EIC
18EICS
18EICS1
18EICS10
18EICS105

               1
              18
             18E
            18EI
           18EIC
          18EICS
         18EICS1
        18EICS10
       18EICS105